/* p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}

p a:hover {
    color: #555;
} */
/* input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
} */
/* input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
} */


#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
}
/* input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
} */
.check {
    margin-left: 3px;
}
/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
} */
* {
    box-sizing: border-box;
}
.container {
    padding: 16px;
    background-color: white;
}


select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

tr {
    background: #f1f1f1;
}

button{
    height: 45px;
    width: 120px;
    font-size:18px;
    color:white;
}

.primarycolor{
    background-color: #212d82;

}


.lower1,
.lower1 a {
    margin-right: 20px;
}

.row {
    width: 100%;
}

.col-25 {
    float: left;
    width: 50%;
    margin-top: 10px;
}

.col-75 {
    float: right;
    width: 50%;
    margin-top: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

mat-option ,mat-select{
    color: #3b4694;
}
/* mat-select {
    color: #000080;
} */

mat-label {
    font-family: Verdana;
    color: #000080;
}

.mat-flat-button.mat-primary{
    background : #3b4694;

}