<div class="tablebackground ">
  <div class="tablewidth">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="sr_no">
        <th mat-header-cell *matHeaderCellDef>S/N</th>
        <td mat-cell *matCellDef="let element ;let i=dataIndex"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="project_name">
        <th mat-header-cell *matHeaderCellDef>Project Name</th>
        <td mat-cell *matCellDef="let element"> {{element.project_name}} </td>
      </ng-container>
      <ng-container matColumnDef="release">
        <th mat-header-cell *matHeaderCellDef>Release</th>
        <td mat-cell *matCellDef="let element"> {{element.release}} </td>
      </ng-container>
      <ng-container matColumnDef="project_status">
        <th mat-header-cell *matHeaderCellDef>Project Status</th>
        <td mat-cell *matCellDef="let element"> {{element.project_status}} </td>
      </ng-container>
      <ng-container matColumnDef="target_fps">
        <th mat-header-cell *matHeaderCellDef>Target FP's</th>
        <td mat-cell *matCellDef="let element"> {{element.target_fps}} </td>
      </ng-container>
      <ng-container matColumnDef="fp_closed">
        <th mat-header-cell *matHeaderCellDef>FP Closed</th>
        <td mat-cell *matCellDef="let element"> {{element.fp_closed}} </td>
      </ng-container>
      <ng-container matColumnDef="target_sps">
        <th mat-header-cell *matHeaderCellDef>Target SP's</th>
        <td mat-cell *matCellDef="let element"> {{element.target_sps}} </td>
      </ng-container>
      <ng-container matColumnDef="sp_closed">
        <th mat-header-cell *matHeaderCellDef>SP Closed</th>
        <td mat-cell *matCellDef="let element"> {{element.sp_closed}} </td>
      </ng-container>
      <ng-container matColumnDef="bugs_raised">
        <th mat-header-cell *matHeaderCellDef>Bugs Raised</th>
        <td mat-cell *matCellDef="let element"> {{element.bugs_raised}} </td>
      </ng-container>
      <ng-container matColumnDef="bugs_closed">
        <th mat-header-cell *matHeaderCellDef>Bugs Closed</th>
        <td mat-cell *matCellDef="let element">
          {{element.bugs_closed}}
          <!-- <span clic><mat-icon>delete</mat-icon></span> -->

        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element;let i=dataIndex">
          <button mat-button (click)="delete(i)">
            <mat-icon color="accent">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <table align="center" style="width: 80%">
              <tr>
                <th>SR No</th>
                <th>Iteration Name</th>
                <th>startDate</th>
                <th>finishDate</th>
                <th>Target FP</th>
                <th>Closed FP</th>
                <th>Target US</th>
                <th>Closed US</th>
                <th>Bug Raised</th>
                <th>Bug Closed</th>
              </tr>
              <tr *ngFor=" let i=index;let data of teamdetailArray; " style="text-align: center">
                <td>{{i+1}}</td>
                <td>{{data.itertaionName}}</td>
                <td>{{data.startDate}}</td>
                <td>{{data.finishDate}}</td>
                <td>{{data.iterationtargetFeaturePoint}}</td>
                <td>{{data.iterationclosedFeaturePoint}}</td>
                <td>{{data.iterationuserStoriesData}}</td>
                <td>{{data.iterationclosedStoryPoint}}</td>
                <td>{{data.iterationbugRaised}}</td>
                <td>{{data.iterationbugClosed}}</td>
              </tr>

              <tfoot>
                <tr>
                  <!-- <td colspan="4">Total</td>
                <td>{{item.target_fps}}</td>
                <td>{{item.fp_closed}}</td>
                <td>{{item.target_sps}}</td>
                <td>{{item.sp_closed}}</td>
                <td>{{item.bugs_raised}}</td>
                <td>{{item.bugs_closed}}</td> -->
                </tr>
              </tfoot>

            </table>








          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
        (click)="projectList(element.name,element.project_name)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>










<mat-grid-list cols="2" rowHeight="66px">
  <mat-grid-tile>
    <figure class="mat-figure1">
      <button mat-raised-button [disableRipple]="true" (click)="importData();" class="primarycolor">Import Data</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button class="primarycolor">Export Data </button>
    </figure>
  </mat-grid-tile>
  <mat-grid-tile>
    <!-- paginator -->
    <figure class="mat-figure2">
      <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons>
      </mat-paginator>
    </figure>
  </mat-grid-tile>
</mat-grid-list>